@model Job_Broker_Online.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Maori_or_Pacific)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Maori_or_Pacific)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physical_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physical_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postal_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postal_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification_Completion_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification_Completion_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollment_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Expection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Expection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
